<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Request</title>
    <link rel="stylesheet" href="https://ht-marketplace-hackathon-rydex-hellotractor.vercel.app/styles.css" />
  </head>
  <body>
    <div class="email-container">
      <header class="email-header">
        <img
          src="https://ht-marketplace-hackathon-rydex-hellotractor.vercel.app/htorange.png"
          alt="Company Logo"
          class="logo"
        />
      </header>

      <main class="email-content">
        <h1>Service Request</h1>
        <p><strong>Message:</strong> {{message}}</p>
        <p><strong>Service Type:</strong> {{serviceType}}</p>
        <p><strong>Service Description:</strong> {{serviceDescription}}</p>

     
      

      <footer class="email-footer">
        <div class="social-links">
          <a href="#" class="social-link">Twitter</a>
          <a href="#" class="social-link">Facebook</a>
          <a href="#" class="social-link">LinkedIn</a>
        </div>
        <p class="footer-text">© 2024 HelloTractor. All rights reserved.</p>
        <p class="footer-links">
          <a href="#">Unsubscribe</a> | <a href="#">Privacy Policy</a> |
          <a href="#">View in Browser</a>
        </p>
      </footer>
    </div>
  </body>
</html>
